=begin 
PC has a time.
user must beat the PCS timer
To win, user has to spam "w" X times before the time runs out.
if the user get to X before the time runs out, the user wins.
=end 

w = 0
put ("Spam 'w' you moron.")

case w
when "w"
	print("hi")

=beginif user == w 
	w =+ 1
	w == 20
	put("You win! YAAYEEAYEAYEAEEAEAEAEAEEEAEEAYETYAYEAYEAEAYEAYE")
	sleep(1)
	put("YEAEEYEYAYEYEYEYAYEAYYYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEEAYEYEYAEYAEYAEAE")
	sleep(2)
#	put("YYYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAEYEAEEYEYAYEYEYEYAYEAYYEAYEYEYAEYAEYAEAE")

